<div id="<%= dom_id blog %>" class='blog-item'>

  <p class='blog-item-title'>
    <%= link_to blog.title.upcase, blog, class: 'blog-title-link' %>
  </p>

  <p class="blog-item-date">Published <%= distance_of_time_in_words(blog.created_at, Time.now) %> ago</p>

  <%# widget bar %>

  <p class='mx-2'>
    <%= blog.body %>
  </p>

</div>
