
<div class='blog-new-edit-container'>
  <h1 class='blog-new-edit-title'>Editing blog</h1>

  <div class='blog-new-edit-actions'>
    <%= link_to "Show this blog", @blog, class: 'new-edit-link' %> |
    <%= link_to "Back to blogs", blogs_path, class: 'new-edit-link' %>
  </div>

  <%= render "form", blog: @blog %>
</div>
