
<div class='footer-container'>
    <%= link_to '<< back', :back, class: 'footer-link footer-back' %>
    <%= link_to 'home', root_path, class: 'footer-link footer-home' %>
    <a href='#' class='footer-link footer-top'>back to top</a>
</div>