
<div class='blog-sidebar'>
    <div class='sidebar-header'>
        <p class='sidebar-title'>About</p>

        <p class='sidebar-subtitle'>explanation of some sort here</p>
    </div>

    <div class='sidebar-topics'>
        <p class='sidebar-title'>Topics</p>

        <div class='topics-wrapper'>
            <p>javascript</p>
            <p>ruby</p>
            <p>rails</p>
            <p>react</p>
            <p>redux</p>
        </div>
    </div>

    <div class='sidebar-socials'>
        <p class='sidebar-title'>Elsewhere</p>

        <div class='socials-wrapper'>
            <a href='www.github.com' class='sidebar-social'>
                <i class='bi bi-github'></i>
            </a>

            <a href='#' class='sidebar-social'>
                <i class='bi bi-linkedin'></i>
            </a>

            <a href='#' class='sidebar-social'>
                <i class='bi bi-twitter'></i>
            </a>

            <a href='#' class='sidebar-social'>
                <i class='bi bi-instagram'></i>
            </a>

            <a href='#' class='sidebar-social'>
                <i class='bi bi-facebook'></i>
            </a>

            <a href='#' class='sidebar-social'>
                <i class='bi bi-youtube'></i>
            </a>
        </div>
    </div>
</div>