
<div class='blog-sidebar'>
    <div class='sidebar-header'>
        <p class='sidebar-title'>About</p>

        <p class='sidebar-subtitle'>These are some of the topics I've been working on recently. I hope you find them interesting. Comments are live, so feel free to leave your thoughts.</p>
    </div>

    <div class='sidebar-topics'>
        <p class='sidebar-title'>
            Topics 
            <%= link_to 'all topics', topics_path, class: 'all-topics-link' %>
        </p>

        <div class='topics-wrapper'>
            <% @side_bar_topics.each do |topic| %>
                <%= link_to topic.title, topic_path(topic), class: 'topic-link' %>
            <% end %>
        </div>
    </div>

    <div class='sidebar-socials'>
        <p class='sidebar-title'>Elsewhere</p>

        <div class='socials-wrapper'>
            <a href='www.github.com' class='sidebar-social'>
                <i class='bi bi-github'></i>
            </a>

            <a href='#' class='sidebar-social'>
                <i class='bi bi-linkedin'></i>
            </a>

            <a href='#' class='sidebar-social'>
                <i class='bi bi-twitter'></i>
            </a>

            <a href='#' class='sidebar-social'>
                <i class='bi bi-instagram'></i>
            </a>

            <a href='#' class='sidebar-social'>
                <i class='bi bi-facebook'></i>
            </a>

            <a href='#' class='sidebar-social'>
                <i class='bi bi-youtube'></i>
            </a>
        </div>
    </div>
</div>