
<div class="home-container">
    <div class='home-header'>
        <h1 class='home-header-title'>Glad you're here</h1>

        <p class='home-header-subtitle'>This is a portfolio project to practice a full ruby on rails application. Please feel free to peruse or sign up for a little more funtionality. Thanks for coming!</p>

        <div class='home-header-actions'>
            <button class='header-btn'>About Me</button>
            <button class='header-btn'>Contact Me</button>
            <button class='header-btn'>Current Projects</button>
        </div>
    </div>
</div>
