
<div class="home-container">
    <div class='home-header'>
        <h1 class='home-header-title'>Glad you're here</h1>

        <p class='home-header-subtitle'>This is a portfolio project to practice a full ruby on rails application. Please feel free to peruse or sign up for a little more funtionality. Thanks for coming!</p>

        <div class='home-header-actions'>
            <%= link_to 'About Me', about_path, class: 'header-btn' %>
            <%= link_to 'Contact Me', contact_path, class: 'header-btn' %>
            
            <div class="dropdown">
                <button class="header-btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Current Projects
                </button>
                <ul class="dropdown-menu" data-bs-theme="dark">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
