@import '../../../node_modules/bootstrap/scss/bootstrap';
@import '../../../node_modules/bootstrap-icons/font/bootstrap-icons';

@import 'variables';

@import 'blog_nav';

body {
    min-height: 100vh;
    position: relative;
    padding-bottom: 36px;
}

.footer-container {
    width: 100%;
    height: 36px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;

    .footer-link {
        width: 20%;
        color: lightgray;
        font-size: 0.9em;
        font-weight: 500;
        text-align: center;
        transition: color 0.3s ease-in-out;

        &:hover {
            color: #0d6efd;
        }
    }
}

// Blog Index

.blog-index-container {
    padding: 1rem;

    .blog-index-header {
        width: 88%;
        height: 170px;
        margin: 1rem auto 4rem auto;
        background-color: $portfolio-black;
        border-radius: 7px;
        display: grid;
        grid-template-columns: 3fr 2fr;

        .header-left {
            display: flex;
            align-items: center;
        }

        .header-right {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .blog-index-title {
            margin-left: 4rem;
            font-size: 2.5em;
            font-weight: 500;
            color: $portfolio-white;
        }
    }

    .blog-index-content {
        display: grid;
        grid-template-columns: 2fr 1fr;

        .index-list-wrapper {
            border-top: 2px solid lightgray;
            padding: 1rem 2rem 1rem 0.5rem;
            margin-left: 12%;

            .new-blog-link {
                color: rgb(85, 38, 18);
                padding: 3px 6px;
                margin-left: 1rem;
                transition: color 0.3s ease-in-out;
    
                &:hover {
                    color: rgb(163, 103, 103);
                }
            }

            .blog-item {
                margin: 0.5rem 0;

                .blog-item-title {
                    font-size: 2.4em;
                    font-weight: 500;
                }

                .blog-title-link {
                    color: $portfolio-dark-blue;
                    text-decoration: none;
                    border-bottom: 1px solid transparent;
                    transition: color 0.3s ease-in-out, border-bottom 0.3s ease-in-out;

                    &:hover {
                        color: $portfolio-blue;
                        border-bottom: 1px solid $portfolio-blue;
                    }
                }

                .blog-item-date {
                    font-size: 0.9em;
                    color: rgb(181, 182, 183);
                }

                
            }
        }
    }
}

// Blog Show

.blog-show-container {
    padding: 2rem 4rem;
    display: grid;
    grid-template-columns: 2fr 1fr;

    .show-container-left {
        width: 90%;
        margin: 1rem auto;

        .show-header {
            padding: 0.5rem 0;
            border-bottom: 1px solid lightgray;

            .show-title {
                font-size: 2.5em;
                font-weight: 600;
                color: $portfolio-dark-blue;
            }
        }

        .show-widget {
            width: 80%;
            height: 42px;
            margin: 1rem 0;
            padding: 0 0.5rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 4px;
            background-color: #d8d8d9;
            box-shadow: 0 0 0.35rem rgba(0, 0, 0, 0.2);

            .show-widget-left {
                display: flex;
                align-items: center;
                height: 100%;
            }

            .show-widget-right {
                display: flex;
                align-items: center;
                height: 100%;
            }

            .widget-item {
                font-size: 0.9em;
                padding: 0 0.5rem;
            }

            .widget-link {
                transition: opacity 0.3s ease-in-out;

                &:hover {
                    opacity: 0.7;
                }
            }

            .widget-back {
                color: $portfolio-blue;
            }

            .widget-topic {
                color: $portfolio-light-blue;
            }

            .widget-created-at {
                margin: auto;
                color: grey;
            }

            .widget-edit {
                font-size: 1.3em;
                color: green;
            }

            .widget-delete {
                font-size: 1.3em;
                color: red;
                background-color: transparent;
                border: none;
            }
        }

        .show-content {
            padding: 1rem 0.5rem;

            .show-body {
                font-size: 1.1em;
                line-height: 1.5;
                color: #121212;
            }
        }
    }

    .show-container-right {
        width: 96%;
        margin: 1rem auto;
    }
}

// Blog Sidebar

.blog-sidebar {
    width: 76%;
    padding: 1rem 2rem;
    margin-left: 1rem;

    .sidebar-title {
        font-size: 1.5em;
        font-weight: 400;
        color: $portfolio-black;
    }

    .sidebar-header {
        margin: 0.5rem 0;
        padding-bottom: 0.5rem;

        .sidebar-subtitle {
            font-size: 0.9em;
            font-weight: 300;
            color: grey;
            text-align: center;
        }
    }

    .sidebar-topics {
        margin: 0.5rem 0;

        .topics-wrapper {
            margin-left: 1rem;
        }
    }

    .sidebar-socials {
        margin: 0.5rem 0;

        .socials-wrapper {
            width: 60%;
            margin-left: 1.5rem;
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            .sidebar-social {
                margin: 0.5rem 0;
                text-align: center;
                font-size: 2.4em;
                color: grey;
                transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;

                &:hover {
                    color: $portfolio-blue;
                    transform: scale(1.1);
                }
            }
        }
    }
}

// Blog new/edit

.blog-new-edit-container {
    width: 40%;
    margin: 2rem auto;

    .blog-new-edit-title {
        font-size: 2.5em;
        font-weight: 500;
        color: $portfolio-dark-blue;
    }

    .blog-new-edit-actions {
        display: flex;
        align-items: center;
        margin: 0.5rem 0;

        .new-edit-link {
            color: $portfolio-blue;
            padding: 0 0.5rem;
            transition: color 0.3s ease-in-out;

            &:hover {
                color: $portfolio-light-blue;
            }
        }
    }
}

// Blog Form

.blog-form-btn {
    width: 33%;
    font-size: 0.9em;
    text-align: center;
    background-color: $portfolio-blue;
    color: $portfolio-white;
    float: right;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;

    &:hover {
        background-color: $portfolio-light-blue;
        transform: scale(1.03);
    }
}