
.blog-nav-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    height: 56px;
    padding: 0 16px;

    .blog-nav-header {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .nav-header-title {
            font-size: 1.2em;
            font-weight: 800;
            color: rgb(57, 15, 15);
            text-decoration: none;
            transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;

            &:hover {
                color: rgb(133, 79, 79);
                transform: scale(1.1);
            }
        }
    }

    .blog-nav-links {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .blog-nav-auth {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .logout-btn {
        background-color: transparent;
        border: none;
    }

    .blog-nav-item {
        margin: 0 20px;
        font-size: 1.2em;
        font-weight: 500;
        text-decoration: none;
        color: rgb(71, 71, 74);
        border-bottom: 2px solid transparent;
        transition: color 0.3s ease-in-out, border-bottom 0.3s ease-in-out, transform 0.3s ease-in-out;

        &:hover {
            color: #606162;
            border-bottom: 2px solid #606162;
            transform: scale(1.1);
        }
    }
}